<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBHTvLi82Nbl_humIDqp5gNz7L15t-kAHU</string>
	<key>GCM_SENDER_ID</key>
	<string>403354366006</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.aviculturaApp</string>
	<key>PROJECT_ID</key>
	<string>ic-avicultura-app-f8ffd</string>
	<key>STORAGE_BUCKET</key>
	<string>ic-avicultura-app-f8ffd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:403354366006:ios:81f605f1489519bb6ca897</string>
</dict>
</plist>